:root {
  --digikidsDeepBlue: rgb(0, 107, 139);
  --digikidsLightBlue: rgb(4, 172, 236);
  --digikidsPink: rgb(204, 44, 128);
  --digikidsLightPink: rgb(255 98 180);
  --transparentBlack: rgba(0, 0, 0, 0.7);
  --white: rgb(255, 255, 255);
  --transparentWhite: rgba(255, 255, 255, 0.9);
  --borderRadius: 10px;
  --navHeight: 60px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
}

button {
  border-radius: var(--borderRadius);
  outline: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

a:active,
a:focus,
button:active,
button:focus {
  outline: 0;
  outline-style: none;
  -moz-outline-style: none;
}

nav {
  padding: 10px;
  width: 100%;
  background-color: var(--digikidsLightPink);
  display: flex;
  height: var(--navHeight);
  justify-content: space-between;
}

nav img {
  max-width: 100%;
}

nav button {
  height: 40px;
  font-size: 1em;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
}

nav button u {
  text-decoration-color: var(--digikidsLightBlue);
}

footer {
  width: 100%;
  background-color: var(--digikidsDeepBlue);
  text-align: center;
  padding: 10px;
  color: var(--white);
  font-weight: 600;
  left: 1px;
}

footer a {
  text-decoration: underline;
}

footer a:hover {
  color: var(--digikidsLightPink);
}

.introSection {
  background-image: url(./digikidsBackground.jpeg);
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 70px;
}

.introTextWrap {
  background: var(--transparentBlack);
  box-shadow: 0 8px 32px 0 var(--transparentBlack);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: var(--borderRadius);
  border: 1px solid var(--transparentBlack);
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  margin: 30px;
  color: var(--white);
}

.introTextWrap h1 {
  font-size: 4em;
}

.introTextWrap h2 {
  font-size: 2em;
  text-decoration: underline;
  text-decoration-color: var(--digikidsLightBlue);
}

.introTextWrap p {
  padding-top: 10px;
  font-size: 1.3em;
  font-weight: 600;
}

.cards {
  margin-top: -40px;
  padding: 0 30px 30px;
}

.card {
  width: 200px;
  height: 250px;
  background-color: var(--digikidsLightPink);
  box-shadow: 0 8px 32px 0 var(--transparentBlack);
  border-radius: var(--borderRadius);
  border: 1px solid var(--transparentBlack);
}

.sidebar {
  width: 100%;
  max-width: 500px;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--transparentWhite);
  border-left: 1px solid var(--transparentBlack);
  box-shadow: 0 8px 32px 0 var(--transparentBlack);
  padding: 100px 20px 20px;
}

.sidebar h5 {
  background: var(--digikidsDeepBlue);
  color: white;
  padding: 10px;
  margin: 2px 0;
}

.sidebar li {
  list-style: none;
}

.dropdown {
  margin: 0;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  transition: all 0.5s ease;
  display: none;
  padding: 8px 10px;
  float: right;
  width: 70%;
  box-shadow: 0 8px 32px 0 var(--transparentBlack);
}

.dropdown li {
  color: var(--white);
  background: var(--digikidsDeepBlue);
  display: block;
  padding: 8px 10px;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
  width: 100%;
  border-bottom: 1px solid var(--digikidsLightBlue);
}

.dropdown li:hover,
.sidebar ul li:hover h5 {
  background: var(--digikidsLightBlue);
  cursor: pointer;
}

.sidebar ul {
  padding: 0;
}

.course,
.ageGroup {
  padding: 20px 0;
}

.sidebar ul li:hover > ul,
.sidebar ul li:focus-within > ul,
.sidebar ul li ul:hover,
.sidebar ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

.close {
  position: fixed;
  top: 20px;
  right: 20px;
}

.close button {
  box-shadow: 0 0 30px 1px var(--transparentBlack);
  padding: 6px 15px;
  color: var(--digikidsPink);
  border: 0.5px solid var(--transparentBlack);
  font-weight: 600;
  overflow: hidden;
  transition: all 0.5s ease;
}

.closeX {
  background-color: var(--digikidsPink);
  color: var(--transparentWhite);
  border-radius: 100%;
  padding: 16px;
  margin-right: -16px;
}

.close button:hover {
  background-color: var(--digikidsPink);
  color: var(--white);
}

.sidebar::before {
  content: "";
  height: 60px;
  background-color: rgb(4 172 236);
  position: absolute;
  top: 0;
  width: 100%;
  right: 0;
}
